@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;1,300;1,400&display=swap');
/*------------------------------------------------- Body*/
body {
    position: relative;
}
#aboutus {
    padding-top: 60px;
    height: 900px;
    color: #fff;
    background-color: #77cbb9;
}
  #ourmembers {
    padding-top: 60px;
    height: 900px;
    color: #A9A9A9;
    background-color: #fff;
}
#ourevents {
    padding-top: 60px;
    height: 1000px;
    color: #fff;
    background-color: #561F37;
}
#contactus {
    padding-top: 60px;
    height: 900px;
    color: #A9A9A9;
    background-color: #fff;
}
/*------------------------------------------------------- */
/*------------------------------------------------- NavBar*/
.navbar { 
    background-color:#561F37;
}
.btn-outline-warning {
    color: #f29559;
    border: 1px solid #f29559;
    background-color: #561F37;
}
.btn-outline-warning:hover {
    color: #fff;
    border-color: #fff;
    background-color: #f29559;
}

/*------------------------------------------------- */